.carousel {
    overflow: hidden;
}
/* 
moves items 
translates to move items around
*/
.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}
/* displays single items */
.item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: green;
    color: #FFF;
}

.active-item {
    color: #000;
    background-color: #FFF;
}
.unactive-item {
    color: #FFF;
    background-color: #000;
}